# Ignorar archivos sin extensión en la raíz y subdirectorios
**/*/
**/*.*        # NO ignorar
!**/*.*       # Asegura que los archivos con extensión NO sean ignorados


# ignorar archivos de compilación
*.hi
*.o
*.docx